<!DOCTYPE html>
<html>
<head>
	<title>NekioWeb</title>
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;600;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css"/>
</head>
<body>
	<div class="boxCenter">
		<div class="nw">
			Nekio<span style="color: #EC9A29">Web</span>
		</div>
		<div class="op">Nasze produkty:</div>
		<div class="boxCenter width-95">
			<a class="kafelek" href="gra">
				QRM<span style="color: #EC9A29">Game</span>
			</a>
		</div>
	</div>
</body>
</html>